[user]
name = Jiri Srba
email = jiri.srba@cloudtalk.io

[core]
editor = code --wait
autocrlf = input
safecrlf = false
excludesFile = ~/.gitignore_global
pager = delta

[init]
defaultBranch = main

[fetch]
# automatically remove references to deleted remote branches when fetching
prune = true

[pull]
rebase = true

[merge]
tool = vscode

[mergetool "vscode"]
cmd = code --wait $MERGED

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[apply]
whitespace = nowarn

[push]
default = simple
autoSetupRemote = true
	followTags = true

[credential]
helper = osxkeychain

[rebase]
# Automagically reorder and prefix your commands while doing an interactive
# rebase. This has to be used with `--fixup` and/or `--squash` options
autosquash = true

[delta]
syntax-theme = Dracula
plus-style = bold syntax "#002800"

[interactive]
diffFilter = delta --color-only

[color]
# Enable colors in color-supporting terminals
ui = auto
branch = auto
diff = auto
status = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = yellow
changed = green
untracked = cyan
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
